<header>

    <span class="site_logo">
        <img src="https://codingblackfemales.com/img/memberzone/makers.png" alt="Makers" width="117" height="27">
    </span>

    <nav>
        <a href="/dashboard/userdashboard">Home</a>
        <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="/events">Events</a>
        <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="/requests">Requests</a>
        <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="/wishlist">Wishlists</a>
        <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <form action='/user/logout' method='get'>
            <input id="log_out" type="submit" value="Log Out">
        </form>
    </nav>
</header>