<!-- <!DOCTYPE html> -->

<title><%= title %></title>
<h1 class="title">Welcome to <%= title %></h1>
<p> It's who's fucking Birthday!?</p>

<form method = 'GET' action = 'user/signup'> 
    <input type = 'submit' value = 'Signup' >
</form> 

<form method = 'GET' action = 'user/login'>
    <input type = 'submit' value = 'Login' >
</form> 

<%- include('partials/footer') %>

