<!-- <!DOCTYPE html>

<title><%= title %></title>
<h1 class="title">Welcome to <%= title %></h1>
<p> It's who's fucking Birthday!?</p>

<form method = 'GET' action = 'user/signup'> 
    <input type = 'submit' value = 'Signup' >
</form> 

<form method = 'GET' action = 'user/login'>
    <input type = 'submit' value = 'Login' >
</form>  -->

<!DOCTYPE html>
<html lang=""en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Forget Me Not</title>
</head>

<body>
    
  <section>
    <h1 class="title"><%= title %></h1>
    <div class="login2-box">
      <div class="form-value">
        <form method = 'GET' action = 'user/signup'>
            <button>Sign up
            </button>
        </form>
        <form method = 'GET' action = 'user/login'>
            <button>Login
            </button>
        </form>
        </form>
      </div>
      </form>
    </div>
  </section>
</body>
</form> 
</html>

