Page with a form to enter details for a new wishlist

A new wishlist can be made for any person
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New Wishlist </title>
  </head>
  <body>
    <%- include('partials/signed_in_header') %>
    <%- include('partials/footer') %>
  </body>
</html>
