<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title> Sign Up </title>
  </head>
  <body>
  <section>
    
    <div class="user-box">
      <div class="form-value">
        <form id="new-user-form" action="/user" method="post">
          <h2>Sign up</h2>
          <div class="inputbox">
            <label for="">Email</label>
            <input  type="email" name="email" required>
          </div>
          <div class="inputbox">
            <label for="">Password</label>
            <input  type="password" name="password" required>
          </div>
          <div class="inputbox">
            <label for="">Confirm password</label>
            <input  type="password" name="confirm_password" required>
          </div>
          <div class="inputbox">
            <label for="">First Name</label>
            <input  type="firstName" name="first_name" required>
          </div>
          <div class="inputbox">
            <label for="">Last Name</label>  
            <input  type="lastName" name="last_name" required>
          </div>
          <div>
            <button>Submit
            </button>
            <div class="login">
              <p>Already have an account <a href="/login">Login</a></p>
            </div>
          </div>
          </div>
        </form>
      </div>
      </form>
    </div>
    </section>
      <%- include('partials/footer') %>
  </body>
</html>






  



    
  


