<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title> Sign Up </title>
  </head>
  <body>
    <div class="login-box">
      <h1> Sign up</h1>
      <form id="new-user-form" action="/user" method="post">
        <div class="user-box">
          <input id="email" type="email" placeholder="Email" name="email" value="">
        </div>
        <br>
        <div class="user-box">
          <input id="password" type="password" placeholder="Password" name="password" value="">
        </div>
        <br>
        <div class="user-box">
          <input id="confirm_password" type="password" placeholder="Confirm password" name="confirm_password" value="">
        </div>
        <br>
        <div class="user-box">
          <input id="firstName" type="firstName" placeholder="First Name" name="first_name" value="">
        </div>
        <br>
        <div class="user-box">
          <input id="lastName" type="lastName" placeholder="Last Name" name="last_name" value="">
        </div>
        <br>
        <input id="submit" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>



<form method = 'GET' action = 'login'>
  <input type = 'submit' value = 'Login' >
</form> 


  


<%- include('partials/footer') %>