<!DOCTYPE html>
<html lang="en">
  <head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>User Dashboard</title>
  </head>
  <body>
    <%- include('partials/signed_in_header') %>
    <h1>User Dashboard</h1>

    <div class="user-card">
      <img src="/images/user.jpg" width="100px">
      <br>
      Username: {{user.username}}
      <br>
      Email: {{user.email}}
      <br>
      Full name: {{user.firstName}} {{user.lastName}}
      <br>
      
      You have {{user.friends.length}} friends 
    </div>

    <form method = 'GET' action = '/events/new_event'> 
      <input type = 'submit' value = 'Create Event'>
    </form> 

    <% events.forEach( (event) => { %>
      <h1> <%= event.name %> </h1>
    <% }) %>

    <%- include('partials/footer') %>

  </body>
</html>  
  