<!-- landing page for all of a users created wishlists

It shows a list of all wishlists
Button to create a new wishlist -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlists</title>
 </head>
 <body>
    <%- include('partials/signed_in_header') %>
      <% wishlists.forEach( (wishlist) => { %>
         <h1> <%=wishlist.name %> </h1>
      <% }) %>

      <form action='/wishlist/new_wishlist' method='GET'>
         <input id="new_wishlist" type="submit" value="New Wishlist">
      </form>

    <%- include('partials/footer') %>
 </body>
 </html>
