<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Wishlist Invitation </title>
</head>
  <body>
    <%- include('partials/signed_in_header') %>
    <form action='/requests/wishlist_invite/<%= wishlistID %>' method='POST'>
      <label for="user_name">Invite Users </label><br>
      <input type="text" id="first_name" name="first_name" placeholder="User First Name?"><br>
      <input type="text" id="last_name" name="last_name" placeholder="User Last Name?"><br>
      <input id="new__wishlist_invite" type="submit" value="Invite">
    </form>
    <%- include('partials/footer') %>
  </body>
</html>

